@font-face {
  font-family: 'DX빨간우체통Bold';
  src: url('./font/DXRMbxB-KSCpc-EUC-H.woff') format("woff");
}

@font-face {
  font-family: '경기천년바탕_Bold';
  src: url('./font/경기천년바탕_Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'NotoSansKR';
  src: url('./font/NotoSansKR-VariableFont_wght.ttf') format("truetype");
}


.App {
  text-align: center;
}

.nav {
  height: 80px;
}

.Container-nav {
  width: 90%;
}

.left-menu {
  width: 30%;
}

.right-first_menu {
  padding: 10px;
}

.right-second_menu {
  
  padding: 10px;
}

/*nav-bar css*/
.MainLogo {
  margin-right: 12px;
  height: 40px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
