.Ssection3 {
    display: flex;
    justify-content: center;
}

.Section3-Text {
    font-family: 'NotoSansKR';
    font-size: 25pt;
    text-align: center;
}

.Section3_Img {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.Section3_Img img {
    width: 20vw;
}