.Section2 {
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-family: 'NotoSansKR';
}

.typingTitle {
    font-size: 55px;
}

.TopSection_2 {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-right: 20px;
}

.First {
    font-size: 50px;
}

.BottomSection_2 {
    margin-top: 40px;
    font-size: 20px;
}

.ImgSection_2 img {
    width: 400px;
}