.Section4 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadeInUp { 
    from {
      opacity: 0;
      transform: translateY(20px); 
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .fade-in-up_4 {
    opacity: 0;
    animation: fadeInUp 3s forwards; /* 2초 동안 서서히 나타나도록 설정 */
  }

.Section4 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Section4-Start{
    width: 100%;
}

.Section4-TopText {
    font-size: 35pt;
    font-weight: 500;
}

.Section4-SubText {
    text-align: center;
    font-size: 22pt;
    margin-top: 4%;
    font-weight: 400;
}

.Section4-Img {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    gap: 15px;
}

.Section4-Img img {
    width: 170px;
    cursor: pointer;
}

.Section4-App_Store {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 8vh;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
}

.Section4-Google_Play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 8vh;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
}

.Section4-Footer_Box {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    font-family: 'NotoSansKR';
    font-weight: 500;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 40px;
}

.Section4-Footer_1 {
    font-size: 17px;
    color: #676767;
    display: flex;
    gap: 20px;
}

.Section4-Footer_2 {
    margin-top: 15px;
    color: #a0a0a0;
    display: flex; 
    gap: 10px;
}

.Section4-Footer_3 {
    margin-top: 5px;
    color: #a0a0a0;
    font-size: 14px;
}